<div id="content" >
  <div class="jumbotron text-center title">
    <div class="logo"><span class="outline">SUPPLY</span>LINK</div>
  </div>
  <div div="tiles">
    <div class="tile hvr-grow-shadow">
      <a href="/profile">USER
        <img src="images/user.svg" height="150" width="200">
      </a>
    </div>
    <div class="tile hvr-grow-shadow">
      <a href="/orders">ORDERS
        <img src="images/orders.svg" height="150" width="210">
      </a>
    </div>
    <div class="tile hvr-grow-shadow">
      <a href="/scan">SCAN
        <img src="images/scan.svg" height="150" width="210">
      </a>
    </div>
    <div class="tile hvr-grow-shadow">
      <a href="/transfers">TRANSFERS
        <img src="images/transfers.svg" height="150" width="210">
      </a>
    </div>
    <div class="tile hvr-grow-shadow">
      <a href="/inventory">INVENTORY
        <img src="images/inventory.svg" height="150" width="210">
      </a>
    </div>
    <div class="tile hvr-grow-shadow">
      <a href="/logout">LOGOUT
        <img src="images/logout.svg" height="150" width="210">
      </a>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="truffle-contract.js"></script>
<script src="controllers/home-controller.js"></script>
