<div class="bg orders-all">
<div class="profile-top">
    VEHICLE MANAGEMENT
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">SUPPLYLINK </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home"><i class="icon-home"></i>Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button type="button" class="btn btn-outline-danger"><i class="icon-logout"></i>Logout</button>
  </div>
</nav>
<div class="card card-body order-card" style="margin-left: 200px;">
  <span style="color:#ffab00; font-size: 24px; text-align: center;"><b>ASSOCIATE PARTS</b></span>
  <form onSubmit="App.associatePart(); return false;">
      <p>Part id:</p><input class="form-control" id="part_id" type="text" />
      <p>Vehicle id:</p><input class="form-control" id="vehicle_id" type="text" />
      <button style="margin: 10px 0px 0px 100px;"type="submit" class="btn btn-primary btn-sml custom-btn">ASSOCIATE PART</button>
  </form>
</div>
<div class="card card-body order-card" style="margin-left: 150px;">
  <span style="color:#ffab00; font-size: 24px; text-align: center;"><b>VIEW VEHICLE PARTS</b></span>
    <form onSubmit="App.displayParts(); return false;" style="margin: 20px;">
      <p>Vehicle id:</p><input class="form-control" id="v_id" type="text" />
      <button style="margin: 10px 0px 0px 100px;"type="submit" class="btn btn-primary btn-sml custom-btn">VIEW PARTS</button>
    </form>
    <div class="card-body" id="parts">
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="truffle-contract.js"></script>
<script src="controllers/vehicle-controller.js"></script>
